DATABASE_URL=mongodb+srv://swarup:swarup@zeta.qzdgkvk.mongodb.net/justice?retryWrites=true&w=majority&appName=Zeta
PORT=3001
# JWT Configuration
JWT_SECRET=hatelifsdfsde
JWT_EXPIRES_IN=24h

# CORS Configuration
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:5173

PINATA_API_Key=907d630b0bdbfb58b0c3
PINATA_API_Secret=6763b50dac909767e51e14582d6be4c0b8a0951a213868d6fc98d928f71aacfb
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJjYWJkYTcwMS1iNmEyLTRhNDUtYTcyYS0yZTU1MTQ3YjE2ZjMiLCJlbWFpbCI6IjIwMDUxMDBAdWdyYWQuY3NlLmJ1ZXQuYWMuYmQiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiOTA3ZDYzMGIwYmRiZmI1OGIwYzMiLCJzY29wZWRLZXlTZWNyZXQiOiI2NzYzYjUwZGFjOTA5NzY3ZTUxZTE0NTgyZDZiZTRjMGI4YTA5NTFhMjEzODY4ZDZmYzk4ZDkyOGY3MWFhY2ZiIiwiZXhwIjoxNzg3NTg3ODkwfQ.DaQWX8hrYC3g0I5Q6kE0NQDfCux85vJF7fjnmGOstuQ
PRIVATE_KEY=03246836ea25d8d40ba7b6e4dc0ce10a2e3a46a62e757c6e1c2d129298a92a72
AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
CONTRACT_ADDRESS=0xf7Dd8B38E22a305aC399804f84Ae3de0Bd697255
ETH_KEY=RXPPVGKICBNI2AE55JNSE3KER34XMHVINY
BLOCKCHAIN_TEST_MODE=true